<div class="card car">
  <a class="thumb" [routerLink]="['/cars', car.id]">
    <ng-container>
      <img [src]="imageUrl(car.image)" [alt]="car.name">
    </ng-container>
  </a>

  <div class="car-body">
    <h3>{{ car.name }}</h3>
    <div class="helper">{{ car.transmission }}</div>
    <div class="price"><b>{{ car.pricePerDay }} € / jour</b></div>

    <div class="actions">
      <a [routerLink]="['/cars', car.id]" class="btn">Détails</a>
      <button class="btn btn-outline" type="button" (click)="onReserve()">Réserver</button>
    </div>
  </div>
</div>
